@import "tailwindcss";

@font-face {
  font-family: 'Transducer-Extended-Medium';
  src: url("./fonts/TransducerExtendedMedium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Transducer-Extended-Bold';
  src: url("./fonts/TransducerExtendedBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal
}

@layer components {
  .content {
    @apply block;
  }

  .header {
    @apply fixed top-0 left-0 w-full bg-white z-50;
  }

  .header-inner {
    @apply max-w-[1400px] mx-auto w-full flex flex-row justify-between items-start
      px-13 pt-3.5;
  }

  .header-buttons {
    @apply flex flex-row gap-5 pt-6.5 pr-3;
  }

  .header-link {
    @apply relative cursor-pointer inline-block leading-none text-[var(--cppgreen)] text-[14px] 
      self-baseline pb-[2px] after:content-[''] after:absolute after:left-0 after:bottom-0
      after:h-[2px] after:w-0 after:bg-current after:transition-all after:duration-300
      hover:after:w-full translate-y-1;
  
      
    font-family: 'Transducer-Extended-Bold';
    font-weight: 900;
  }
    
  .header-link-img {
    @apply cursor-pointer;
  }

  .cpp-nav-logo {
    @apply h-[66px] w-[300px] cursor-pointer;
  }

  .footer {
    @apply w-full h-1/12 overflow-hidden;
  }

  .footer-wrap {
    @apply w-full h-full bg-[var(--cppgreen)] flex flex-col justify-around;
  }

  .footer-container {
    @apply max-w-[1400px] mx-auto w-full flex flex-col px-13 pt-10;
  }

  .footer-content {
    @apply flex flex-col justify-between pt-10;
  }

  .footer-links {
    @apply bg-[var(--cppgreen)] flex flex-row justify-between;
  }


  .footer-buttons {
    @apply flex flex-row justify-end gap-[20px] w-[50%];
  }

  .footer-button {
    @apply hover:text-[var(--cppgreen)] font-bold uppercase text-white px-10 max-w-35 h-[65%]
      flex items-center justify-center border-2 border-transparent [border-image-slice:1] 
      [border-image-source:linear-gradient(to_left,#ffb81c,#a4d65e)] bg-transparent 
      hover:bg-gradient-to-r hover:from-[#a4d65e] hover:to-[#ffb81c] text-center
      transition-all duration-300 ease-in-out hover:underline hover:underline-offset-1 
      cursor-pointer text-[12px] leading-none;

    font-family: 'Transducer-Extended-Bold';
    font-weight: 900;
  }

  .footer-text {
    @apply flex flex-row;

    font-family: Arial;
  }

  .socials-links {
    @apply flex flex-row w-full justify-end gap-6 pr-3;
  }

  .social-link {
    @apply cursor-pointer hover:outline-white hover:outline-2 rounded-2xl;
  }

  .footer-bottom-link {
    @apply text-[13px] hover:underline cursor-pointer;
  }

  .page-heading {
    @apply shadow-[0_3px_6px_-4px_rgba(0,0,0,0.1)] shadow-gray-300 text-[2.5em] 
      px-[15px] pl-[30px] pt-24.5 pb-1 text-[var(--heading-font-color)];

    font-family: Arial;
  }

  .cpp-nav {
    @apply flex flex-col items-start p-4 pl-12 text-lg mb-0;

    font-family: Arial;
  }

  .nav-button {
    @apply flex py-2.5 pl-4 pr-3 w-[260px] rounded-sm hover:bg-gray-200 hover:font-bold cursor-pointer;
  }

  .nav-button .nav-closed {
    @apply font-bold pl-2 -translate-y-1.5;
  }

  .nav-open {
    @apply font-bold pl-2 translate-y-1;
  }
  
  .selected {
    @apply text-white bg-[var(--heading-font-color)] hover:bg-[var(--heading-font-color)];
  }

  #home-button.selected {
    @apply cursor-default hover:font-normal;
  }

  .home-welcome-bg {
    @apply bg-[var(--cppgreen)] ml-40 rounded-[25px] mt-8 flex flex-col;
  }

  .home-welcome-title {
    @apply text-2xl mt-4 text-[var(--cppgold)] font-bold text-center;
  }

  .home-welcome-message {
    @apply pt-2 px-10 text-white;
  }

  #student-resources-nav {
    @apply flex flex-col justify-start text-sm pb-1 gap-2;
  }

  .mini-nav-button {
    @apply cursor-pointer hover:bg-gray-200 hover:font-bold rounded-sm text-left pl-6 py-0.5;
  }

  .yellow-container {
    @apply bg-[var(--cppgold)] text-green-900 rounded-[24px] mt-5 py-8 px-11 
      flex flex-row text-left font-bold justify-around items-center shadow-lg relative z-10;
  }

  .yellow-container-h2 {
    @apply text-xl font-semibold mb-3;
  }

  .news-section {
    @apply bg-gray-100 rounded-3xl w-full md:w-5/6 mx-auto mt-10 p-8 md:p-10 shadow-md;
  }

  .news-section-h2 {
    @apply text-2xl font-bold text-center text-green-900 mb-6;
  }

  .news-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8 text-green-900;
  }

  .news-text {
    @apply space-y-6 leading-relaxed;
  }

  .news-text2 {
    @apply text-3xl font-bold mr-0.5;
  }

  .news-text3 {
    @apply text-green-700 underline hover:text-green-800;
  }

  .news-right-column {
    @apply space-y-4 leading-relaxed
  }

  .right-column-text {
    @apply text-green-700 underline hover:text-green-800;
  }

  .bottom-bubbles-section {
    @apply w-[83%] ml-[8.5%] mt-10 flex flex-wrap justify-center gap-6 text-center;
  }

  .bottom-bubbles-section-h3 {
    @apply text-lg font-semibold;
  }

  .bottom-bubbles-icons {
    @apply flex items-center justify-center w-full space-x-6 mt-6 text-2xl;
  }

  .bottom-bubbles {
    @apply bg-green-900 text-yellow-300 rounded-full py-6 px-10 shadow-md w-64
     hover:bg-green-800 hover:scale-105 transition-transform cursor-pointer;
  }

  .yellow-social-icon {
    @apply rounded-2xl cursor-pointer hover:scale-110 transition-transform;
    mix-blend-mode: multiply;
    filter: brightness(200%);
  }

  .program-icon {
    @apply w-60 h-60 cursor-pointer hover:scale-110 transition-transform;
  }

  .program-name {
    @apply text-2xl text-[var(--cppgreen)] font-bold mt-3 cursor-pointer hover:underline;
  }

  .lab-content-header {
    @apply font-bold text-2xl mb-1;
  }

  .lab-use-bg {
    @apply bg-[var(--heading-font-color)] text-left text-white flex flex-row p-4 rounded-xl shadow-md;
  }

  .lab-subheading {
    @apply font-bold text-xl mb-1.5;
  }

  .instructional-lab-bg {
    @apply bg-gray-300 text-left flex flex-row p-4 rounded-xl shadow-md;
  }

  .research-lab-button {
    @apply text-xl font-bold hover:scale-110 transition-transform cursor-pointer border 
      border-[var(--heading-font-color)] hover:bg-[var(--heading-font-color)] ease-in-out duration-250
      hover:text-white hover:font-extrabold rounded-md py-2;
  }

  .lab-button-selected {
    @apply bg-[var(--heading-font-color)] text-white text-xl font-extrabold rounded-md py-2;
  }

  .labsection {
    @apply py-3 px-3;
  }

  .back-to-top-wrapper {
    @apply flex justify-center items-center mt-15;
  }

  .back-to-top-button {
    @apply text-[50px] font-bold hover:scale-125 transition-transform duration-200 ease-in-out cursor-pointer;
  }
}

@layer base {
  :root {
    --cppgreen: #005030;
    --cppgold: #ffb400;
    --greenhover: #007530;
    --heading-font-color: #01426a;

    font-family: Arial;
  }
}
